<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Order My Food</title>
    <link rel="stylesheet" href="login.component.css">
</head>

<body>
    <div class="container">
        <div class="login-box">
            <div class="admin-login">
                <p class="admin-login-link">
                    <a routerLink="/admin">Admin Login</a>
                </p>
            </div>

            <h2>Login</h2>
            <form (ngSubmit)="onLogin()">
                <div class="input-group">
                    <input type="text" id="username" name="username" [(ngModel)]="username" required placeholder="Username">
                   
                </div>
                <div class="input-group">
                    <input type="password" id="password" name="password" [(ngModel)]="password" required placeholder="Password">
                   
                    <span id="toggle-password" class="toggle-password" (click)="togglePassword()">
                        <img [src]="passwordVisible ? 'assets/eyeclose.jpeg' : 'assets/eyeopen.jpeg'" alt="Toggle password visibility">
                    </span>
                </div>
                <button type="submit">Login</button>
                <p class="signup-link">Don't have an account? <a routerLink="/userregister">Sign up</a></p>
                <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
            </form>
        </div>
    </div>
</body>

</html>
