<header class="header">
  <nav class="navbar">
    <div class="logo">
      <a href="#">Delicious Food</a>
    </div>
    <ul class="nav-links">
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/wishlist">Wishlist</a></li>
      <li><a routerLink="/chatbox">ChatBox</a></li>
      <li class="profile-dropdown">
        <a routerLink="/profile">Profile</a>
        <ul class="dropdown-content">
          <li><a routerLink="/edit-profile">Edit Profile</a></li>
          <li><a routerLink="/address">Address</a></li>
          <li><a routerLink="/orders">Orders</a></li>
          <li><a routerLink="/logout">LogOut</a></li>
        </ul>
      </li>
      <li><a routerLink="/userregister">Register</a></li>
      <li><a routerLink="/language">Language</a></li>
    </ul>
  </nav>
</header>
