/* restaurants-list.component.css */

.restaurant-list-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.restaurant-list-container h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #f9f9f9;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li h3 {
  margin: 0;
  color: #333;
}

li p {
  margin: 5px 0;
  color: #666;
}

.no-restaurants {
  text-align: center;
  color: #666;
  margin-top: 20px;
}
